.card_intro {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    justify-content: space-between;
    padding: 20px 0 50px 0;
}   

.card_intro h1 {
    font-weight: 600;
    font-size: var(--font-size26);
    margin-top: 50px;
}

.card_intro p {
    font-weight: 600;
    text-align: center;
    padding: 5px;
    font-size: var(--font-size18);
}

.intro_card {
    width: 80%;
    height: 30vh;
    
    background:  #f98ac7 url("../../../public/camel.png") no-repeat center center/ cover;
    border-radius: 20px;
}
.card_intro button {
    width: 80%;
    background: #DF6E99;
    padding: 15px;
    border: 0;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
}

.card_agree {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card_agree h2 {
    font-size: var(--font-size22);
    font-weight: 600;
    line-height: 1.5;

}
.card_agree div {
    height: 60vh;
    padding: 30px 0;
}
.card_agree label {
    display: flex;
    align-items: center;
    padding: 20px;
}
.card_agree input {
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}
.card_agree input:checked {
    background-color: #4caf50;
    border-color: #4caf50;
  }
.card_agree_section ol {
  padding: 30px;
  height: 40vh;
  overflow: scroll;
}
.card_agree_section h2 {
  color: #DF6E99;
  text-align: center;
}
.card_agree_section label {
  width: 100%;
  text-align: center;
}
.card_btn {
    width: 80%;
    background: #DF6E99;
    padding: 15px;
    border: 0;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
}

.card_person {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    padding: 0 20px;
}
.card_person em {
    color: #000;
}
.card_person label {
    display: block;
    color: #5f5d5f;
    font-weight: 600;
    font-size: var(--font-size12);
    padding-bottom: 5px;
}

.card_person h2 {
    font-size: var(--font-size20);
    font-weight: 600;
    text-align: center;
    color: #000;
}


.card_person input {
    border: 0;
    border-bottom: 2px solid #f49ecf;
    width: 90%;
    background: transparent;
    font-size: var(--font-size18);
    font-weight: 600;
    padding: 5px 0;
}
.card_person input:focus {
    outline: none;
    box-shadow: none;
  }
  
.btn_div {
    width: 100%;
    display: flex;
    justify-content: center;
}




.card_english {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_english h2 {
    font-size: var(--font-size20);
    font-weight: 600;
    color: #000;
}
.card_english label {
    display: block;
    color: #5f5d5f;
    font-weight: 600;
    font-size: var(--font-size16);
    padding: 40px 0 20px 0;
}
.card_english input {
    border: 0;
    border-bottom: 2px solid #f49ecf;
    width: 90%;
    background: transparent;
    font-size: var(--font-size18);
    /* font-weight: 600; */
    color: #000;
    padding: 5px 0;
}
.btn_box {
    width: 100%;
    display: flex;
    justify-content: center;
}
.card_english input:focus {
    outline: none;
    box-shadow: none;
  }
  




  /* src/components/PinInput.css */
.pin-input-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    background: var(--box-color);
    padding: 10px 20px;
    border-radius: 20px;
  }
  
  .hidden-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  
  .circle {
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color 0.2s ease;
  }
  
  .circle.filled {
    background-color: #ee82c6;
    border-color: #ee82c6;
  }
  


  .card_pin {
    
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .card_pin h2 {
    font-size: var(--font-size26);
    font-weight: 600;
    margin-top: 100px;
  }
  .card_pin p {
    padding: 20px 0;
    color: #5f5d5f;
    font-weight: 600;
    font-size: var(--font-size16);
  }
  .card_pin button {
    margin-top: 50px;
  }

  .final-check-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
  }
  .final-info-form {
    width: 100%;
  }
  .final-info-form label {
    display: block;
    color: #696868;
    font-weight: 600;
    font-size: var(--font-size12);
    padding-bottom: 5px;
  }
  .final-info-form input {
    border: 0;
    border-bottom: 2px solid #f49ecf;
    width: 90%;
    background: transparent;
    font-size: var(--font-size18);
    font-weight: 600;
    padding: 5px 0;
    color: #000;
  }
  .final-check-container h2 {
    font-size: var(--font-size26);
    font-weight: 600;
    margin-top: 30px;
  }
  .final-info-form > div {
    margin-bottom: 20px;
    padding: 0 20px;
  }