:root {
  --bg-color: #df6e99;
  --button-color: #df6e99;
  --color: #000;
  --max-width: 700px;
  --side-padding: 0 30px;

  --color-gray: rgba(58, 58, 58, 1);
  --color-gray20: rgba(58, 58, 58, 0.02);
  --color-gray50: rgba(58, 58, 58, 0.05);
  --color-gray100: rgba(58, 58, 58, 0.1);
  --color-gray200: rgba(58, 58, 58, 0.2);
  --color-gray300: rgba(58, 58, 58, 0.3);
  --color-gray400: rgba(58, 58, 58, 0.4);
  --color-gray500: rgba(58, 58, 58, 0.5);
  --color-gray600: rgba(58, 58, 58, 0.6);
  --color-gray700: rgba(58, 58, 58, 0.7);
  --color-gray800: rgba(58, 58, 58, 0.8);
  --color-gray900: rgba(58, 58, 58, 0.9);
  --color-brightGray: rgba(239, 239, 239, 1);
  /* --color-blue: rgba(54, 143, 255, 1); */
  --color-blue: rgb(10 182 91);
  --color-blue60: rgba(54, 143, 255, 0.06);
  --color-blue100: rgba(54, 143, 255, 0.1);
  --color-blue500: rgba(54, 143, 255, 0.5);
  --color-blue980: rgba(54, 143, 255, 0.98);
  --color-mint: rgba(38, 206, 194, 1);
  --color-mint100: rgba(38, 206, 194, 0.1);
  --color-orange: rgba(255, 150, 35, 1);
  --color-red: rgba(253, 46, 105, 1);
  --color-red100: rgba(253, 46, 105, 0.1);
  --color-red50: rgba(253, 46, 105, 0.05);
  --color-deepOrange: rgba(255, 91, 46, 1);
  --color-mediumRed: rgba(255, 33, 60, 1);
  --color-deepRed: rgba(190, 0, 23, 1);
  --color-purple: rgba(151, 95, 254, 1);
  --color-purple100: rgba(151, 95, 254, 0.1);
  --color-emerald: rgba(13, 208, 175, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-white600: rgba(255, 255, 255, 0.6);
  --color-white900: rgba(255, 255, 255, 0.9);
  --color-skyblue: rgba(55, 168, 255, 1);
  --color-lightpurple: rgba(151, 95, 254, 1);
  --color-black: rgba(34, 34, 34, 1);
  --color-azul: rgba(31, 87, 250, 1);
  --color-azul500: rgba(31, 87, 250, 0.5);
  --color-teal: rgba(10, 219, 143, 1);
  --color-teal100: rgba(10, 219, 143, 0.1);
  --color-teal900: rgba(10, 219, 143, 0.9);
  --color-vermilion: rgb(255, 97, 105, 1);

  --font-size10: 10px;
  --font-size12: 12px;
  --font-size14: 14px;
  --font-size16: 16px;
  --font-size18: 18px;
  --font-size20: 20px;
  --font-size22: 22px;
  --font-size24: 24px;
  --font-size26: 26px;
  --font-size28: 28px;
  --font-size30: 30px;
  --font-size32: 32px;
  --font-size34: 34px;
  --font-size36: 36px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

div {
  background: #fff;
}
.container {
  max-width: var(--max-width);
  /* height: 100vh; */
  background: #000;
  margin: 0 auto;
}

.header_top {
  background: var(--bg-color);
  width: 100%;
  height: 40px;
}
.header_bottom {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header_bottom h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

header {
  display: flex;
  flex-direction: column;
  /* 헤더 스타일 */
}

.header_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* 헤더 하단 스타일 */
}

/* 사이드바 기본 스타일 */
.sidebar {
  position: absolute;
  top: 40px;
  height: calc(100vh - 40px);
  right: 0;
  width: 100%;
  background-color: #0000003f;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: row-reverse;
}

/* 사이드바 내부 링크 스타일 (필요에 따라 추가) */
.sidebar ul {
  background: #e8b9e5;
  width: 70%;
  padding: 1rem;
}

.sidebar li {
  margin-bottom: 1rem;
}

/* .main {
  max-width: var(--max-width);
  background: #000;
  margin: 0 auto;
} */

.main_header {
  position: fixed;
  z-index: 10;
  background: transparent;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-weight: 600;
}
.main_header div {
  width: var(--max-width);
  background: transparent;
  text-align: right;
  padding-right: 10px;
}
.main_header div img {
}
.main_header a {
  color: #fff;
  display: inline-flex;
  align-items: center;
}

/* 뷰포트 컨테이너: 600px 폭, 충분한 수직 스크롤을 위해 높이를 500px + 2400px = 2900px로 설정 */
.viewport-container {
  position: relative;
  width: 100vw;
  /* height: 2400px;  */
  overflow-x: hidden; /* 가로 스크롤 숨김 */
  overflow-y: auto; /* 세로 스크롤은 표시 */
  margin: 0 auto;
}

/* horizontal-scroller: 5개의 패널을 가로로 배열 (총 3000px: 600px * 5) */
.horizontal-scroller {
  display: flex;
  width: 500vw;
  position: absolute;
}

/* 각 패널: 600px x 500px 크기로 중앙 정렬 */
.panel {
  flex-shrink: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;

  border-right: 1px solid #ccc;
  background-image: url("../public/innovation8.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.panel_background {
  width: 100vw;
  height: 80vh;
  display: flex;
  background: #00000070;
  /* align-items: center; */
  justify-content: center;
}
.main_box {
  height: 80vh;
  max-width: var(--max-width);
  width: 100%;
  position: relative;
  background: transparent;
  /* backdrop-filter: blur(3px); */
}
.main_box em {
  color: #fff;
  position: relative;
  display: inline-block;
}
.main_box_top {
  height: 20vh;
  background: transparent;

  display: flex;
  justify-content: center;
  padding: 0 20px;
}
.main_box_middle {
  padding: 0 20px;
  height: 60vh;
  padding: 15px;
  background: transparent;
  display: flex;
  flex-direction: column;

  align-items: start;
  position: relative;
}
.main_box_middle h2 {
  font-size: var(--font-size34);
  width: 320px;
  margin-bottom: 15px;
  margin-right: 10px;
  font-weight: 600;
  line-height: 1.5;

  word-wrap: break-word; /* 긴 단어 자동 줄 바꿈 */
  word-break: break-word; /* 단어가 너무 길면 강제로 줄 바꿈 */
}
.main_box_middle p {
  margin-left: 35px;
  max-width: 270px;
  width: 100%;
  font-size: var(--font-size14);
  line-height: 2;

  color: #fff;
}

.main_box_middle img {
  z-index: 2;
}
/* .main_box_middle-shadow {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  width: 99%;
  height: 100vh;

  background: linear-gradient(
    135deg,
    rgba(255, 115, 213, 0.7) 0%,
    rgba(235, 217, 238, 0.3) 100%
  );
  filter: blur(4px);
  z-index: 1;
} */

.main_box_bottom {
  /* background: linear-gradient(
    135deg,
    rgba(255, 115, 213, 0.7) 0%,
    rgba(235, 217, 238, 0.3) 100%
  ); */
  background: #ffffff00;

  backdrop-filter: blur(10px);
  height: 20vh;
}
.main_box_middle button {
  color: #000;
  padding: 8px 50px;
  background: var(--button-color);
  border: 0;
  border-radius: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.main_box_middle .button_box {
  background: transparent;
  display: flex;
  justify-content: right;
  width: 100%;
  padding: 8px 20px;
}

.card_benefit_sec1 {
  position: relative;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.card {
  box-shadow: 0 8px 12px -2px rgba(2, 2, 2, 0.3),
    /* 아래쪽 그림자 */ -2px 0 4px rgba(97, 97, 97, 0.3); /* 왼쪽 그림자 */
  width: 280px;
  height: 170px;
  background: transparent; /* 혹은 원하는 배경색 */
  z-index: 2; /* shadow보다 위에 배치 */
  /* 기타 스타일 (예: 테두리, 내부 패딩 등) */
}

/* 그림자 역할을 하는 추가 요소 */
.card-shadow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 290px;
  height: 180px;
  /* 가까운 부분은 어두운 검정, 멀어지면 주황색 파스텔 느낌의 그라데이션 */
  background: linear-gradient(
    135deg,
    rgba(255, 115, 213, 0.7) 0%,
    rgba(235, 217, 238, 0.3) 100%
  );
  filter: blur(4px);
  z-index: 1; /* 메인 카드 뒤에 배치 */
}
.card_benefit_sec2 {
  background: #fff;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.card_benefit_sec3 {
  background: #ffd2ff;
}
